@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto;
    
}
.titre{
    font-size:64px;  
    margin-left: 35%;
    margin-top: 100px;
    color: #002e5c;

}
.gallery{
    background-color: #F7F7F7;
    padding: 70px;
    margin: 50px;
    border-radius: 20px;
}
.images{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
    
    
}
.image{
    width:100%;
    height: 100%;
    object-fit: cover;
    
    
}